@tailwind base;
@tailwind components;
@tailwind utilities;

.side-menu {
  background-image: url('/bg-main-desktop.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.input {
  @apply outline-none px-2 py-1 border rounded-md focus:border-purple-950;
}

.card-front {
  position: absolute;
  right: -10%;
  top: 30%;
  width: 330px;
  height: 180px;
  background-image: url('/bg-card-front.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.card-back {
  width: 330px;
  height: 180px;
  position: absolute;
  right: -20%;
  top: 50%;
  background-image: url('/bg-card-back.png');
  background-repeat: no-repeat;
  background-size: contain;
}